.popup__save-button_place_enter {
    background-color: white;
    margin: 216px auto 0px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: black;
    cursor: pointer;
}

.popup__save-button_place_enter:hover {
    opacity: 0.8;
    transition: opacity 1s ease-out;
}
