.header__button {
    margin-right: 0;
    height: 22px;
    width: auto;
    background-color: black;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
}
