.element__like-button {
    height: 21px;
    width: 21px;
    background-image: url(../../../images/like-button.svg);
    background-color: #FFFFFF;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0 auto auto;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.element__like-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
}