@import url(./__heading/profile-info__heading.css);
@import url(./__name/profile-info__name.css);
@import url(./__specialty/profile-info__specialty.css);
@import url(./__edit-button/profile-info__edit-button.css);

.profile-info {
    max-width: calc(100% - 330px);
    margin: auto auto auto 0;
}

@media screen and (max-width: 768px) {
    .profile-info {
        margin: 0 auto 36px;
        max-width: 100%;
    }
}