.popup__save-button {
    background-color: #000000;
    margin: 20px auto 36px;
    border-radius: 2px;
    border: 0;
    height: 50px;
    padding: 0;
    width: 84%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: opacity 1s ease-out;
}

@media screen and (max-width: 424px) {
    .popup__save-button {
        margin: 0 auto 30px;
        height: 40px;    
    }
}