.element__delete-button {
    visibility: hidden;
    height: 19px;
    width: 18px;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 0 auto auto;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    position: absolute;
    top: 24px;
    right: 16px;
}

.element__delete-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
}