.popup__input-error {
    visibility: hidden;
    border: 0;
    width: 84%;
    height: 28px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0 auto 13px;
}
