.profile-info__specialty {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media screen and (max-width: 424px) {
    .profile-info__specialty {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 768px){
    .profile-info__specialty {
        margin: 0 auto;
        text-align: center;
    }
}